.Header {
    padding: 0.8rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
    gap: 0.8rem;

    .logo {
        @media screen(md) {
            display: grid;
            grid-auto-flow: column;
            align-content: center;
            gap: 0.8rem;
            align-items: center;
        }
    }

}
