.HomePage{
    display: grid;
    align-items: start;
    .profile-card{
        display: grid;
        gap: 15px;
        padding: 10px;
        width: 100%;
        max-width: 600px;
        justify-self: center;
        @media screen(md){
            display: flex;
        }
    }
}
