
@import "@styles/global.css";

.Footer{
    padding: 20px;
    gap: 20px;
    display: grid;
    .info{
        display: grid;
        gap: 1rem;
        justify-content: center;
        figure{
            justify-self: center;
            img{
                width: 90px;
                @media screen(md){
                    width: 110px;
                }
            }
        }
    }
    .icons{
        display: flex;
        justify-self: center;
        gap: 0.8rem;
        justify-content: space-between;
        @media screen(md){
            justify-content: space-around;
        }
    }
    .links{
        display: grid;
        justify-content: center;
        gap: 0.8rem;
        text-align: center;
        @media screen(md){
            display: flex;
            justify-self: center;
            justify-content: space-around;
        }

    }
}
